
@inherits LayoutComponentBase

<div class="main-container">
    <div class="full-height-div">
        <main class="container">
            @Body
        </main>
        
    </div>
</div>

<FluentDialogProvider></FluentDialogProvider>
<RadzenComponents />